<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136510526162-grh5eh7eq8f50icl5o7usuna1t16ife6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136510526162-grh5eh7eq8f50icl5o7usuna1t16ife6</string>
	<key>API_KEY</key>
	<string>AIzaSyAvXXenccAjyc6swhvkHZ4TiwpAutJisGo</string>
	<key>GCM_SENDER_ID</key>
	<string>136510526162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wamteam.negoto</string>
	<key>PROJECT_ID</key>
	<string>negoto-6e1f8</string>
	<key>STORAGE_BUCKET</key>
	<string>negoto-6e1f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136510526162:ios:4669204e85d96ac87e130b</string>
</dict>
</plist>